* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    display: flex;
    min-height: 100vh;
    min-width: 320px;

}

:root{
    /*---COLORS---*/
    --color-bg-dark:    #0B0D11;
    --color-black-light:#0D0F14;
    --color-hover-bg:   #0A1C1B;
    --color-gray:       #131720;
    --color-gray-dark:  #4A5568;
    --color-gray-light: #88969A;
    --color-white:      #E8EDF5;
    --color-darker-green:#112C2D;
    --color-dark-green :#08A97E;        
    --color-green:      #00E593;
    --color-darker-red:   #2B1D28;
    --color-dark-red:   #BB3F58;
    --color-red:        #F43F5E;
    --color-darker-blue:#232A3A;
    --color-dark-blue:  #3E6CC1;
    --color-blue:       #3B82F6;
    --color-dark-gold:  #B4953C;
    --color-gold:       #FFB800;   
     

    /*---VARIABLES---*/
    --bg-sidebar:       var(--color-bg-dark);
    --text-accent:      var(--color-green);
    --text-muted:       var(--color-gray-dark);
    --text-nav:         var(--color-gray-light);
    --bg-hover:         var(--color-hover-bg);
    --main-dashboard-bg:var(--color-black-light);
    --widget-bg:        var(--color-gray);
    --border-widget:    var(--color-darker-blue);
    --text-white:       var(--color-white);
    --text-danger:      var(--color-red);

    /*---FONT---*/
    --font-title-nav:       "Bodoni Moda", serif;
    --font-subtitle-nav:    "Roboto Mono", monospace;
    --font-nav-item:        "Inter", sans-serif;
  

    /*---FONT SIZE---*/
    --font-xs:   clamp(11px, 1.5vw, 13px);
    --font-sm:   clamp(14px, 2vw,   16px);
    --font-base: clamp(14px, 2.5vw, 18px);
    --font-lg:   clamp(18px, 3.5vw, 22px);
    --font-xg:   clamp(22px, 3vw,   28px);
    --font-xl:   clamp(26px, 4vw,   28px);

}
/*---------------------------------------NAV-------------------------------------- */
.sidebar {
    position: fixed;
    height: 100VH; /* Mantém a altura da sidebar em um viewport */ 
    width: 237px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 24px 0;

    background-color: var(--bg-sidebar);
    border-right: 1px solid var(--border-widget);
}
.brand {
    flex-direction: column;
    text-decoration: none;
    padding: 0 20px;
    margin-bottom: 20px;

}
#title {
    color: var(--text-accent);
    font-family: var(--font-title-nav);
    font-size: 28px; /* Tamanho fixo, nao colocar variáveis clamp em nav, o nav ja tem sua proria responsividade */
}
#subtitle {
    color: var(--text-muted);
    font-family: var(--font-subtitle-nav);
    font-size: 13px;/* Tamanho fixo, nao colocar variáveis clamp em nav, o nav ja tem sua proria responsividade */
}
.nav-item {
    color: var(--text-nav);
    font-family: var(--font-nav-item);
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 14px 20px;
    font-size: 16px;/* Tamanho fixo, nao colocar variáveis clamp em nav, o nav ja tem sua proria responsividade */
    font:inherit;
    text-align: left;
}
ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0;
}
a {
    text-decoration: none;
}
button {
    background-color: transparent;
    border:none;
    cursor: pointer;
}
.nav-item:hover,
.nav-item.active {
    background-color: var(--bg-hover);
    color: var(--text-accent);
    border-left: 3px solid var(--text-accent);
    width: calc(100% - 3px); /* Ajusta a largura para compensar a borda */
}




/*--------------------------------------------------------------------------------*/
/*-------------------------------------DASHBOARD----------------------------------*/
/*--------------------------------------------------------------------------------*/

.dashboard {
    background-color: var(--main-dashboard-bg);
    display: grid;
    align-content: start;    
    grid-template-columns: repeat(16, 1fr);/*16 colunas:Permite cards em 4 e graficos/tabelas em 5-5-6*/
    gap: 20px;
    padding: 40px;
    width: 100%;
    margin-left: 237px; /* Ajusta a margem esquerda do dashboard para compensar a largura da sidebar */

}


/*WIDGETS - serve para todos os widgets do dashboard */

.widget.card,.grafico,.table,.card-ativo {
    background-color: var(--widget-bg);
    border: 1px solid var(--border-widget);
    border-radius: 8px;
    width: 100%;
    padding: 20px;
}



/*WIDGET CARD */

.widget.card {
    height: 100%;
    grid-column: span 4;
    align-items: center;
    min-width: 0;
    min-height: 0;
}

/*WIDGET GRAFICO */
.grafico {
    height: 450px;
    grid-column: span 5;
    min-width: 0;
    min-height: 0;
}

/*WIDGET TABLE */
.table {
    height: auto;
    grid-column: span 6;
    min-width: 0;
    min-height: 0;
}



/*---CARD CONTENT---*/

.card-title {
    color: var(--text-muted);
    font-size: var(--font-xs); /* textos menores, variação mais sutil */
    text-transform: uppercase;

}
.card-value {
    color: var(--text-white);
    font-size: var(--font-xl); /* os "R$ 148.320" gigantes */
    font-weight: bold;
}
.card-description {
    color: var(--text-muted);
    font-size: var(--font-sm); /* textos menores, variação mais sutil */
}
.card-description-positivo{
    color: var(--text-accent);
    font-size: var(--font-sm); /* textos menores, variação mais sutil */
}




/*---GRAFICO CONTENT---*/
canvas{
    width: 100%;
    height: 200px;
    display: block;
    flex-shrink: 0; /* evita que o canvas encolha se o container for pequeno */
}
.grafico {
    display: flex;
    flex-direction: column;
}
.widget-header { /* Afeta a tabela tmb */
    margin-bottom: 16px;
    flex-shrink: 0;
}

.widget-title { /* Afeta a tabela tmb */
    color: var(--text-white);
    font-size: var(--font-sm);
}

.widget-subtitle { /* Afeta a tabela tmb */
    color: var(--text-muted);
    font-size: var(--font-sm);
}

.grafico-legenda {
    list-style: none;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: auto;
    flex-shrink: 1; /* ocup ao resto do espaco do container */
    overflow-y: auto; /* adiciona barra de rolagem se a legenda for maior que o container */
}

.grafico-legenda li {
    display: flex;
    align-items: center;
    gap: 8px;
}

.legenda-color {
    width: 10px;
    height: 10px;
    border-radius: 25%;
    flex-shrink: 0; /* evita a bolinha "achatar" se o nome for grande */
}

.legenda-name {
    color: var(--text-muted);
    flex: 1; /* empurra o valor pra direita */
}

.legenda-value {
    color: var(--text-white);
    font-weight: 600;
}


/*---TABLE CONTENT---*/

table {
    width: 100%;
    border-collapse: collapse;
}
.positivo { color: var(--text-accent); }
.negativo { color: var(--text-danger); }

.ativo-table, .preco-table {
    color: var(--text-white);
}
.tipo-table,  .peso-table {
    color: var(--text-muted);
}

th, td {
    padding: 4px 16px;
    text-align: left;
    white-space: nowrap; /* nunca quebra linha dentro da célula */
}

th {
    color: var(--text-muted);
    font-size: var(--font-sm);
    text-transform: uppercase;
}
tbody tr,thead tr {
    border-bottom: 1px solid var(--border-widget);
}

th:nth-child(3), td:nth-child(3), /* Preço */
th:nth-child(4), td:nth-child(4), /* Var. */
th:nth-child(5), td:nth-child(5) { /* Peso */
    text-align: right;
}


@media only screen and (min-width: 1100px) and (max-width: 1575px) { /* 1575px: Oculta Tipo e Peso da tabela */
    th:nth-child(2), td:nth-child(2), /* Tipo */
    th:nth-child(5), td:nth-child(5) { /* Peso */
        display: none;
    }
}



@media (max-width: 1100px){
    .dashboard {
        grid-template-columns: repeat(4, 1fr); /*4 colunas: Permite cards em 2 e graficos/tabelas em 2-2-4*/
    }
    .widget.card {
        grid-column: span 2;
    }
    .widget.grafico {
        grid-column: span 2;
    }
    .widget.table {
        grid-column: span 4;
    }

}
@media (max-width: 900px){ /* 900px: Deixar apenas os icons do menu */

    .sidebar { 
        width: 70px;
        top: 0;
        left: 0;
        align-items: center; 
    }

    .sidebar nav {
        height: 100%;
    }

    .sidebar nav ul {
        height: 100%;
        justify-content: space-around;
    }

    .dashboard {
        margin-left: 70px;
    }

    .nav-item span,
    .brand,
    #subtitle {
        display: none;
    }
}



@media (max-width: 615px){ /*Mobile*/
    
    body {
        flex-direction: column;
    }


    .sidebar {
        width: 100%;
        height: 70px;              
        flex-direction: row;       
        align-items: center;      
        position: fixed;
        top:auto;
        bottom: 0;
        left: 0;
        padding: 0;
        border-right: none;
        border-top: 1px solid var(--border-widget);
    }

    .sidebar nav {
        width: 100%;               
    }
    .sidebar nav ul {
        flex-direction: row;
        justify-content: space-around; 
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .nav-item {
        justify-content: center;   
        width: auto;           
    }

    .nav-item span, .brand, .nav-hide-mobile { 
        display: none; /* Oculta a maior parte dos elementos */
    }

    .nav-item:hover,
    .nav-item.active {/* Futuramente colocar efeito pilula */
    background-color: var(--bg-hover);
    color: var(--text-accent);
    border-left: none;
    width: none;
    border-radius: 999px; 
    }


    .dashboard {
        grid-template-columns: repeat(2, 1fr); /*2 colunas: Permite cards em 1 e graficos/tabelas em 1-1-2*/
        margin-left:0;
    }
    .widget.card {
        grid-column: span 1;
    }
    .widget.grafico {
        grid-column: span 2;
    }
    .widget.table {
        grid-column: span 2;
    }
}


@media (max-width: 570px) { /* 550: Oculta Tipo e Peso da tabela */
    th:nth-child(5), td:nth-child(5) { /* Peso */
        display: none;
    }
}


/*--------------------------------------------------------------------------------*/
/*---------------------------------Investimentos----------------------------------*/
/*--------------------------------------------------------------------------------*/

/*Pai de todos*/
#investimentos {
    display: grid;
    grid-template-columns: none;
    gap: 20px;
    padding: 40px;
    width: 100%;
}

/*Pai dos cards principais*/
.informacoes-principais-inves{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
}

/*Card Principal*/
.widget.card.investimento{
    grid-column: span 1; 
}

/*Valor cards principal*/
.card-value.investimento{
    font-size: var(--font-xg);
}

/*Titulo catalago*/
.categoria-header {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 8px;
}
/*Titulo de catalago*/
.categoria-nome{
    color: var(--text-white);
    font-size:var(--font-sm);
    text-transform: none;
}

/*Porcentagem de catalago*/
.badge-percentual{
    padding: 2px 6px;
    border-radius: 4px;
    text-transform: none;
    font-size: var(--font-xs);
}

/*% do portifolio de categorias*/
#badge-acoes{
    background-color:var(--color-darker-green);
    color: var(--color-green);
}
#badge-FIIs {
    background-color: #131B2A;
    color: var(--color-blue);
}
#badget-cripto{
    background-color:#232118;
    color: var(--color-gold);
}
#badge-renda-fixa {
    background-color:var(--color-darker-red);
    color: var(--color-red);
}


/*Pai dos cards*/
.grid-ativos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Ajusta automaticamente o número de colunas com base no tamanho da tela */
    gap: 20px;
}
/*Card*/
.card-ativo{
    display: flex;
    flex-direction: column;
    gap:9px ;
}

/*header dos cards: titulo(dividendo),subtitulo(empresa) e variavel*/
.ativo-header{
    display: flex;
    justify-content: space-between;
}
/*conteudo do cards: cotacao e posicao */
.ativo-dados {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}
/*nome(empresa), cotacao e posicao*/
.ativo-nome, .ativo-label{
    color: var(--color-gray-dark);
    font-size: var(--font-xs);
}
/*cotacao e posicao*/
.ativo-label{
    text-transform: uppercase;
}
/*Nome divodendo e valor cotacao*/
.ativo-ticker, .ativo-valor {
    color: var(--color-white);
    font-size: var(--font-base);
}
/*barra de progresso*/
.ativo-progresso{
    width: 100%;
}


/*variavel*/
.badge-variacao{
    border-radius: 6px;
    padding: 3px;
    font-size: var(--font-sm);
    height: 23px;
    width: 75px;
    justify-content: center;
    display: flex;
}

/* variavel (por conta da cor tem um separado)*/ 
.badge-variacao.positivo{
    background-color: var(--color-darker-green);
}
.badge-variacao.negativo{
    background-color: var(--color-darker-red);
}
/* valor total posicao (tem que ter um de cada)*/
.ativo-acoes {
    color: var(--color-green);
}
.ativo-FIIs {
    color: var(--color-blue);
}
.ativo-cripto{
    color: var(--color-gold) ;
}
.ativo-renda-fixa {
    color: var(--color-red);
}

/*---Barra de progresso---*/
progress {
    -webkit-appearance: none; /* remove o estilo nativo do navegador antes de customizar */
    appearance: none;
    width: 100%;
    height: 3px;
    border: none;
    border-radius: 4px;
    overflow: hidden; /* garante que o preenchimento respeite o border-radius */
}

/* O "trilho" de fundo */
progress::-webkit-progress-bar {
    background-color: var(--border-widget); 
}

/* O preenchimento: Acoes */
.ativo-progresso.acoes::-webkit-progress-value {
    background-color: var(--color-dark-green);
}
/*FIIs */
.ativo-progresso.FIIs::-webkit-progress-value {
    background-color: var(--color-dark-blue);
}
/*cripto*/
.ativo-progresso.cripto::-webkit-progress-value {
    background-color: var(--color-dark-gold);
}
/*Renda Fixa*/
.ativo-progresso.Renda-fixa::-webkit-progress-value {
    background-color: var(--color-dark-red); 
}


@media (max-width: 1087px){
    .informacoes-principais-inves{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 685px){ /*deixar os cards de categoria em duas colunas*/
    .grid-ativos {
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
}
}